.App-City {
  margin-left: 58px;
  margin-top: 30px;
}

.App-City > p {
  color: gray;
}

.App-divider {
  margin-left: 58px;
  margin-top: 30px;
  width: 75%;
}

.App-details-title {
  margin-top: 30px;
  margin-left: 58px;
  color: lightgray;
}

.App-details {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 58px;
}

.App-details > p {
  color: gray;
  text-align: left;
}

.App-details > span {
  color: gray;
  text-align: right;
  margin-top: -40px;
  margin-right: 80px;
}

.App-Forecast {
  margin-top: 30px;
  margin-left: 58px;
}

.App-Forecast-inner > p {
  color: gray;
  margin-left: 10px;
}

.App-Forecast-inner > div > p {
  color: gray;
  margin-top: 5px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .App-details > p {
    color: gray;
    text-align: left;
    margin-left: -10px;
  }

  .App-details > span {
    color: gray;
    text-align: right;
    margin-top: -40px;
    margin-right: 50px;
  }
  .App-Forecast-inner > p {
    color: gray;
    margin-left: -10px;
  }
  .App-Forecast-inner > img {
    margin-left: -20px;
  }

  .App-Forecast-inner > div > p {
    color: gray;
    margin-top: 5px;
    margin-left: -10px;
  }
}
